.jumbotron {
  margin-top: 30px;
  text-align: center;
  padding: 30px;
  background-color: #b49fc4;
  color: white;
}
button {
  margin-top: 20px;
}
body {
  font-size: 16px;
  background-color: lavender;
}
#bad {
  display: none;
}
#good {
  display: none;
}
#average {
  display: none;
}
button {
  background-color: #b49fc4;
  color: white;
}
p {
  margin: 20px;
  font-size: 20px;
}
img{
  width: 200px;
  height: 250px;
}
.panel #average, #bad, #good {
  margin: 70px;
  border: 7px solid white;
  background-color: #fffece;
  padding: 20px;
  text-align: center;
}
.panel {
  padding-left: 20px;
  background-color: #ffffea;
  border: 5px solid #e7ccff;
}
